.App {
  text-align: center;
  font-family: Asap, sans-serif;
  background-image: linear-gradient(
    to bottom,
    #ffd3bf,
    #ffc6b7,
    #ffb9b3,
    #ffacb3,
    #ffa0b6,
    #ff97b9,
    #ff8ebd,
    #ff85c4,
    #ff7cc8,
    #ff72ce,
    #ff69d4,
    #fd60db
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
